@font-face { 
	font-family: 'Monoxil';
	src: url('./webfonts/monoxil-webfont.svg#webfont');
	src: url('./webfonts/monoxil-webfont.eot?#iefix') format('embedded-opentype'),
	     url('./webfonts/monoxil-webfont.woff') format('woff'),
	     url('./webfonts/monoxil-webfont.ttf') format('truetype'),
	     url('./webfonts/monoxil-webfont.svg#webfont') format('svg');
}

html, body {
	height:auto;
	width:100%;
	font-size:100%;
	overflow-x:hidden;
}

title {
	text-transform: uppercase;
}

/* Background&Processing */

#background {
	width: auto;
	height: auto;
	top:0%;
	bottom:0%;
	left: 0%;
	right: 0%;
	z-index:-1;
	position: absolute;
	/*overflow-y:hidden; */
	background-color: #c3c3c3;
}

#background canvas {
	width: 100%;
	height:auto;
	visibility: hidden;
	position: absolute;
}

#whitespace {
	font-family: "europa","Futura",sans-serif;
	position: absolute;
	width:90%;
	height:auto;
	background-color: #fff;
	top:5%;
	left: 5%;
	right: 5%;
	z-index: 1;
}

/* Content: Structure */

#wrap {
	width:100%;
	height:auto;
	position: relative;
	z-index: 2;
}

/* Navigation */

#nav {
	width: 100%;
	z-index: 2;
	height:60px;
	position:relative;
	float:left;
	margin:30px 0px 20px 0;
	display: block;
}

.logo {
	width:auto;
	float:left;
	height: auto;
	margin-left: 15.5%; 
	position: relative;
	display: block;
	padding-bottom:1%;
	/*border-bottom: 1px dashed #000;*/
}

.logo a {
	text-decoration: none;
	color:#000;
}

.logo img {
	min-height: 30px;
	min-width: 30px;
	text-decoration: none;
	display:inline;
	cursor: pointer;
}

.navicons {
	width:auto;
	float:right;
	height: auto;
	margin-right: 3%; 
	text-align: center;
	position: relative;
	display: block;
	z-index: 2;
	padding-bottom:1%;
	/*border-bottom: 1px dashed #000;*/
}

.navicons a {
	text-decoration: none;
	color:#000;
}

.navicons img {
	min-height: 30px;
	min-width: 30px;
	text-decoration: none;
	display:inline;
	cursor: pointer;
}


.border {
	width:50%;
	height: auto;
	margin-left: 25%;
	margin-right: 25%;
	position: relative;
	display: block;
	z-index: -1;
}

.border img {
	width:100%;
	height:auto;
	padding:5% 0% 5% 0%;
}

.left {
	width:3%;
	min-width:20px;
	display:none;
	position:fixed;
	margin-top: 20%;
	left:1%;
	float:left;
	z-index:2;
}

.left img {
	width:100%;
	display:block;
	cursor: pointer;
}

.right {
	width:3%;
	min-width:20px;
	display:none;
	position:fixed;
	margin-top: 20%;
	right:1%;
	float:right;
	z-index:2;
}

.right img {
	width:100%;
	display:block;
	cursor: pointer;
}

/* Content: Person */

#user {
	float:left;
	width:30%;
	height:auto;
	margin-left: 3%;
	margin-bottom: 5%;
	position: relative;
	display:block;
	z-index: 2;
}

.person {
	font-family: "europa","Futura",sans-serif;
	font-size: 120%;
	font-weight:normal;
	letter-spacing:0.1em;
	text-align:center;
	width: 100%;
	float: left;
	display:block;
	text-transform:capitalize;
}

.firstname {
	font-family: "europa","Futura",sans-serif;
	font-size: 100%;
	font-weight:normal;
	font-style: normal;
	text-align:left;
	text-indent:20px;
	float: none;
	display:inline;
	text-transform:capitalize;
}

.lastname {
	font-family: "europa","Futura",sans-serif;
	font-size: 80%;
	font-weight:300 !important;
	font-style: normal;
	letter-spacing:0.1em;
	padding-left: 2%;
	float:left;
	text-align:left;
	display:block;
	text-transform:capitalize;
}

.portrait {
	text-align: center;
	display:block;
	position:relative;
	margin-left: auto;
	margin-top: 3%;
	margin-right: auto;
	width:100%;
}

.portrait img {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	height:auto;
	max-width:200px;
}

.quote {
	font-family: "europa","Futura",sans-serif;
	font-size: 90%;
	font-weight:400;
	font-style:italic;
	color: #000;
	letter-spacing:0.1em;
	height:auto;
	width: 50%;
	padding: 5%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	text-align:center;
	border-top: 2px dotted #40E0D0;
	border-bottom: 2px dotted #40E0D0;
}

.emoticon {
	font-size: 120%;
	font-weight:500;
	padding-left: 10px;
	display:inline;
	color: #4682B4;
}

.bemoticon {
	font-size: 120%;
	font-weight:500;
	padding-left: 10px;
	display:inline;
	color: #40E0D0;
}

.cemoticon {
	font-size: 120%;
	font-weight:500;
	padding-left: 10px;
	display:inline;
	color: #40E0D0;
}

.tags {
	width:100%;
	text-indent: 20px;
}

/* Content: NASA */

#star {
	position: relative;
	float:left;
	width: 30%;
	text-align: center;
	margin-left: 3%;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 5%;
	display:block;
	z-index: 2;
}

.longlat {
	font-family: "inconsolata","Courier",sans-serif;
	font-size: 100%;
	font-weight:normal;
	text-align: center;
	width:100%;
	padding-top: 1%;
	display:inline-block;
}

.val1 {
	font-family:"europa","Futura",sans-serif;
	font-size: 100%;
	text-indent:0px;
	font-weight:normal;
	float: none;
	display:inline;
}

.val2 {
	font-family: "inconsolata","Courier",sans-serif;
	font-size: 80%;
	font-weight:normal;
	font-style: normal;
	float: none;
	display:inline;
}

.val3 {
	font-family:"europa","Futura",sans-serif;
	font-size: 100%;
	font-weight:normal;
	text-indent:0px;
	text-decoration:underline;
	float: none;
	display:inline;
}

.val4 {
	font-family:"europa","Futura",sans-serif;
	font-size: 100%;
	text-transform: uppercase;
	font-weight:normal;
	text-indent:0px;
	text-decoration:underline;
	float: none;
	display:inline;
}

.val5 {
	font-family:"europa","Futura",sans-serif;
	font-size: 100%;
	text-indent:0px;
	font-weight:normal;
	float: none;
	display:inline;
}

/* Content: Flickr */

#flickr { 
	float:right;
	font-family: "inconsolata","Courier",sans-serif;
	font-size: 90%;
	font-weight:normal;
	width:50%;
	padding-right: 5%;
	padding-left: 5%;
	margin-bottom: 5%;
	position: relative;
	text-align: left;
	display:block;
	height:auto;
	z-index: 2;
	border-left: 2px dotted #40E0D0;
}

#flickr img {
}


.flickr_img {
	display:block;
	float:left;
	width:44%;
	height:200px;
	overflow: hidden;
	margin:3% 0% 3% 3%;
	cursor: pointer;
}

.flickr_img img {
	vertical-align: middle;
	min-width: 100%;
	min-height: 100%;
}


/* Content: Text */

#text {
	font-family: "europa", sans-serif;
	font-weight:normal;
	float:right;
	position: relative;
	width:50%;
	padding-right: 5%;
	padding-left: 5%;
	margin-bottom: 5%;
	font-size: 90%;
	color:#000;
	text-align:left;
	text-indent: 20px;
	vertical-align: middle;
	border-left: 2px dotted #40E0D0;
}

#text img {
	width: 30%;
	margin:3% 0% 3% 3%;
	min-width:60px;
	display:block;
}

::selection {
	color:#fff;
	background: #CD5C5C;
}
::-moz-selection {
	color:#fff;
	background: #CD5C5C;
}
::-webkit-selection {
	color:#fff;
	background: #CD5C5C;
}


/* LIGHTBOX */

body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.95;
  display: none;
}

.lightbox {
  font-family:"europa","Futura",sans-serif;
  position: fixed;
  top:5% !important;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lb-image {
	width:auto !important;
	height:500px !important;
}

.lb-image img {
  width:300%;
  height: auto;

}

.lightbox a img {
  width: 100%;
  height:auto;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  width:80%;
  height:auto;
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: -25%;
  right: -25%;
  height: 100%;
  width: 150%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
}

.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

.lb-prev {
  left: 0;
  float: left;
}
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

.lb-next {
  right: 0;
  float: right;
}

.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  font-family:"europa","Futura",sans-serif;
  font-weight: lighter;
  font-size: 100%;
  padding: 0 4px;
  color: #000;
}

.lb-data .lb-details {
  font-family:"europa","Futura",sans-serif;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-size: 90%;
  padding: 0 4px;
  color: #000;
}

.lb-data .lb-caption {
  font-size: 100%;
  font-weight: lighter;
  line-height: 1em;
}

.lb-data .lb-number {
  background: url(../images/tag.png) top left no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  line-height: 1.5em;
  display: inline;
}

.lb-data .lb-close {
  display: inline;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}